// Grays
$gray-200: #eceeef;
$gray-600: #707070;
$gray-800: #55595C;

// Dark
$dark: #373a3c;

// Body
$body-color: #373a3c;

// OffCanvas
$offcanvas-horizontal-width: 250px;
$offcanvas-bg-color: var(--bs-primary);
$offcanvas-border-width: 0;
$offcanvas-color: var(--bs-white);

// Nav
$nav-link-padding-x: 2rem;
$nav-link-color: var(--bs-white);
$nav-link-hover-color: var(--bs-white);

// Tables
$table-cell-vertical-align: center;
$table-color: $gray-800;
